@import "../src/sass.scss";

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.storm-flow-canvas .port {
  background: none;
}

.storm-flow-canvas .port:hover, .storm-flow-canvas .port.selected {
  background: none;
}

.storm-flow-canvas .basic-node {
  border: none;
}

.storm-flow-canvas path {
  stroke: #E7E7E7;
}

